<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Groovehub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css"
    />
    <link
      rel="preload"
      href="https://open.spotifycdn.com/cdn/fonts/spoticon_regular_2.d728648c.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div
          class="off-canvas position-left reveal-for-large"
          id="my-info"
          data-off-canvas
          data-position="left"
          style="z-index: 100; height: 400px; overflow-y: scroll;"
        >
          <div class="row column">
            <br />
            <nav>
              <a
                href="/"
                id="home-button"
                style="display: block; margin-bottom: 10px;"
              >Home</a><br />
              {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
              {{else}}
                <a
                  href="/login"
                  class="login-button"
                  style="display: block; margin-bottom: 10px;"
                >Login</a><br />
              {{/if}}
            </nav>
            {{#if loggedIn}}
              <script src="/js/logout.js"></script>
            {{/if}}
            <a
              href="#"
              class="about-button"
              onclick="toggleAboutUs()"
              style="display: block; margin-bottom: 10px;"
            >Meet the developers</a>
            <div class="github-link" id="about-links">
              <p>We are the creators of groovehub, a simple web app that allows
                you to listen to different genres of music while commenting or
                chatting with others in real time! Our focus was on simple,
                fluid design that works well. If you have any feedback for us
                please reach out to any of our team members below!
              </p>
              <a href="https://github.com/Dannymak1993" target="_blank">
                <img src="/images/DannyPhoto.jpg" alt="Danny Mak's GitHub" />
                <br />
              </a>
              <p style="text-align: center">Danny Mak</p><br />
              <a href="https://github.com/Joecode22" target="_blank">
                <img src="/images/JoePhoto.jpg" alt="Joe Mckinney's GitHub" />
                <br />
              </a>
              <p style="text-align: center">Joe Mckinney</p><br />
              <a href="https://github.com/oscarmedina234" target="_blank">
                <img src="/images/OscarPhoto.jpg" alt="Oscar Melina's GitHub" />
                <br />
              </a>
              <p style="text-align: center">Oscar Medina</p><br />
              <a href="https://github.com/SamH16205" target="_blank">
                <img src="/images/SamPhoto.jpg" alt="Sam Halloum's GitHub" />
                <br />
              </a>
              <p style="text-align: center">Sam Halloum</p><br />
              <script src="/js/aboutUs.js"></script>
            </div>
          </div>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button
                class="menu-icon"
                type="button"
                data-open="my-info"
              ></button>
              <span class="title-bar-title">Navigation</span>
            </div>
          </div>
          <div class="callout primary">
            <div class="row column">
              <h1>Groovehub</h1>
            </div>
          </div>
          <div class="gallery">
            <div class="gallery-container">
              {{{body}}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="bottom-banner">
    </div>


      {{!-- Firebase Chat Scripts --}}
  <!-- scripts -->
  <!-- WITH THESE -->
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
  {{!-- Modularized the Firebase js by moving it into config and utils --}}
  <script src="/firebase-config.js"></script>
  <script src="/firebase-chat.js"></script>
  {{!-- End Firebase Chat Scripts --}}




    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script
      src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"
    ></script>
    <script>
      $(document).foundation();
    </script>
    <script src="/js/gallery-details.js"></script>
  </body>

</html>