<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Groovehub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css" />
    <link
      rel="preload"
      href="https://open.spotifycdn.com/cdn/fonts/spoticon_regular_2.d728648c.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div
          class="off-canvas position-left reveal-for-large"
          id="my-info"
          data-off-canvas
          data-position="left"
          style="z-index: 100;"
        >
          <div class="row column">
            <br />
            <nav>
              <a
                href="/"
                id="home-button"
                style="display: block; margin-bottom: 10px;"
              >Home</a>
              {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
              {{else}}
                <a
                  href="/login"
                  class="login-button"
                  style="display: block; margin-bottom: 10px;"
                >Login</a>
              {{/if}}
            </nav>
            {{#if loggedIn}}
              <script src="/js/logout.js"></script>
            {{/if}}
            <a style="display: block; margin-bottom: 10px;">About Us</a>
          </div>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button
                class="menu-icon"
                type="button"
                data-open="my-info"
              ></button>
              <span class="title-bar-title">Navigation</span>
            </div>
          </div>
          <div class="callout primary">
            <div class="row column">
              <h1>Groovehub</h1>
            </div>
          </div>
          <div class="gallery">
            {{{body}}}
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script
      src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"
    ></script>
    <script>
      $(document).foundation();
    </script>
  </body>

</html>