<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Groovehub</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css"
    />
    <link rel="preload" href="https://open.spotifycdn.com/cdn/fonts/spoticon_regular_2.d728648c.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div
          class="off-canvas position-left reveal-for-large"
          id="my-info"
          data-off-canvas
          data-position="left"
        >
          <div class="row column">
            <br />
            <div>
              <a href="/">Home</a>
              {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
              {{else}}
                <a href="/login" class="login-form">Login</a>
              {{/if}}
            </div>
            {{#if loggedIn}}
              <script src="/js/logout.js"></script>
            {{/if}}
            <h5>Favorites</h5>
            <h5>About Us</h5>
          </div>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button
                class="menu-icon"
                type="button"
                data-open="my-info"
              ></button>
              <span class="title-bar-title">Navigation</span>
            </div>
          </div>
          <div class="callout primary">
            <div class="row column">
              <h1>Welcome to Groovehub</h1>
            </div>
          </div>
          <div class="gallery">
            {{{body}}}
          </div>

          <hr />

          <div class="row">
            <div class="medium-6 columns">
              <h3>Contact Me</h3>
              <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor
                neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla
                enim. Phasellus molestie magna non est bibendum non venenatis
                nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris
                iaculis porttitor.
              </p>
              <ul class="menu">
                <li><a href="#">Dribbble</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Yo</a></li>
              </ul>
            </div>
            <div class="medium-6 columns">
              <label>Name
                <input type="text" placeholder="Name" />
              </label>
              <label>Email
                <input type="text" placeholder="Email" />
              </label>
              <label>
                Message
                <textarea placeholder="holla at a designerd"></textarea>
              </label>
              <input type="submit" class="button expanded" value="Submit" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script
      src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"
    ></script>
    <script>
      $(document).foundation();
    </script>
  </body>

</html>