  {{#each galleries as |gallery|}}
 <div class="gallery-item">
  <a href="/gallery/{{id}}">
    <img src="/images/{{genre}}.jpg" alt="{{name}}" class="gallery-image" />
    <h2 class="gallery-name">{{name}}</h2>
  </a>
</div>
  {{/each}}
