<div class="centered-title">
  <h2>{{gallery.genre}}</h2>
</div>

<div id="iframe-chat-div">
  {{! <div id="iframe-div"> }}
  <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/playlist/{{gallery.playlistId}}?utm_source=generator"
    width="600px"
    height="600px"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
  {{!
  </div> }}

  {{! <div id="chat-div"> }}
  <div id="chat-bg" class="chat">
    <ul id="messages"></ul>
    <form id="message-form" onsubmit="sendMessage(event)">
      <input
        id="message-input"
        type="text"
        placeholder="type a live message to others in this room!"
        onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'type a live message to others in this room!'"
      />
      <button id="message-btn" type="submit">Send</button>
      <span class="num-users" onclick="openUserList()"></span>
      <ul id="user-list" class="user-list-hidden"></ul>
    </form>
  </div>
</div>

<div id="user-list-popup" class="reveal" style="display:none">
  <ul id="user-list-popup-ul"></ul>
</div>

<script
  src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"
></script>
<script
  src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"
></script>
<script src="/js/firebase-config.js"></script>
<script src="/js/firebase-chat.js"></script>

<script>
  window.onload = function () { const numUsersElement =
  document.querySelector('.num-users'); const userListElement =
  document.getElementById('user-list-popup'); initializeChat(db, '{{gallery.playlistId}}',
  numUsersElement, userListElement); } 
  
   function openUserList() {
    var userListPopup = new Foundation.Reveal($('#user-list-popup'));
    populateUserList(); 
    userListPopup.open();
  }

  function populateUserList() {
    var userList = ['User 1', 'User 2', 'User 3'];

    var popup = document.getElementById('user-list');
    var userListHTML = '';

    for (var i = 0; i < userList.length; i++) {
      userListHTML += '<li>' + userList[i] + '</li>';
    }

    popup.innerHTML = userListHTML;
  }
</script>